$primarycolor:rgb(21, 125, 251);
$primaryDisabled:#B0DFFD;
$primaryHoverColor:lighten($primarycolor, 10%);
$whiteColor:white;  
$borderColor:#E9EAEC;
$trivialColor:rgb(153 ,153 ,153);
$colorlight:rgb(130,130,130);

// color
.primary_color{
    color: $primarycolor;
}
.white-bgcolor{
    background-color:$whiteColor;
}
.trivial-color{
    color:$trivialColor;
}
// color end
// 布局
.container_flex{
    display: flex; 
    display: -webkit-flex;
}
.container_flex.column{
    flex-direction: column;  
}
.container_flex.row{
    flex-direction: row;
}
.container_flex.wcenter{
    justify-content:center;
    -webkit-justify-content:center;
}
.container_flex.hcenter{
    align-items: center;
    -webkit-align-items: center;
}
.container_flex.center{
    align-items: center;
    justify-content:center;
    -webkit-align-items: center;
    -webkit-justify-content:center;
    
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.pingmucenter {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
// 布局end
// 字体 begin
.font_32{
    font-size: 32upx;
}
.font_bold{
    font-weight: bold;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.oneRow {
    // 文字超出一行省略
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.twoRow {
    // 文字超出两行省略
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
// 字体 end

// 按钮
button[type="primary"]{
    background-color:$primarycolor;
    border-color:$primarycolor;
    color:$whiteColor;
}
button[type="primary"][disabled]{
    background-color:$primaryDisabled;
    border-color:$primaryDisabled;
}
button[type="primary"][plain]{
    background-color:transparent;
    color:$primarycolor;
}
button[type="nobgcolor"]{
    background-color:transparent;
}
button[type="nobgcolor"]::after{
    background-color:transparent;
    border:0 !important;
    outline: 0  !important;
}
button.noborder::after{
    border:0 !important;
    outline: 0  !important;
}
.no-hover{
    background-color:transparent !important;
    border-color:transparent !important;
}
.primary-hover{
    background-color:$primaryHoverColor !important;
    border-color:$primaryHoverColor !important;
}

// 按钮end


// img
.icon_img {
    width: 40upx;
    height: 40upx;
}
// img end

// activeModel
.active_box{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20upx;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: normal;
}
.update_box_text1{
    font-size: 38upx;
    color: rgb(71, 79, 102);
    font-weight:600;
    text-align:center;
    
  }
  .update_box_text2{
    font-size: 32upx;
    color: rgb(122,130,153);
    margin-top: 20upx;
  }
  .update_box_text3{
    color: rgb(122,130,153);
    margin-top: 20upx;
  }
  .button-box{
    position: absolute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    bottom: 20upx;
    width: 100%;
    height: 100upx;
    align-items:center;
    -webkit-align-items: center;
    left:0;
   
  }
  .quit_btn,.confirm_btn{
    flex: 1;
    height: 84upx;
    border-radius: 40upx;
    font-size: 34upx;
    line-height: 84upx;
    margin: 0 30upx;
  }
  .quit_btn{
    border:1px solid $primarycolor;
    color:$primarycolor !important;
  }
  .confirm_btn{
    color: #fff;
  }
// activeModel end
